.optionContainer {
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
}

.messageSliderContainer {
  margin-top: 10px;
  width:75%;
}

.radioGroup {
  display:flex;
  align-items:center;
}

.spacer {
  width:120px;
}

.endButton {
  margin-left: 10px;
}

.retryOptionContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.numberOfRetriesContainer {
  width: 140px;
}

.frameContainer{
  height: 15em;
  width: 10em;
  min-height: 1px;
  float: left;
}

.frame {
  margin-left: 100px;
  overflow-y: auto;
  border: 2px solid purple;
  border-radius: 5px;
  height: 15em;
  width: 10em;
  line-height: 1em;
  float: right;
}

.frame::-webkit-scrollbar {
  -webkit-appearance: none;
}

.frame::-webkit-scrollbar:vertical {
  width: 11px;
}

.frame::-webkit-scrollbar:horizontal {
  height: 11px;
}

.frame::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white; /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, .5);
}

.textField::-webkit-scrollbar{
  -webkit-appearance: none; 
  margin: 0; 
}