.optionContainer {
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
}

.messageSliderContainer {
  margin-top: 10px;
  width:75%;
}

.radioGroup {
  display:flex;
  align-items:center;
}

.spacer {
  width:120px;
}

.endButton {
  margin-left: 10px;
}